<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="shortcut icon" href="/static/favicon.svg" />

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      height: 100svh;

      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      font-family: "Courier New", Courier, monospace;
      background-color: black;
      color: orange;

      text-shadow: 0 0 24px orange;
    }
  </style>
</head>

<body>