<%- await include("(elements)/header", { title: "frung" }) %>

<h1>frung</h1>
<p>Delete this boilerplate and start creating!</p>

<p>Views: <%= req.plugins.store.get("views") %></p>

<%- await include("(elements)/footer") %>